{% extends "layout.html" %}

{% block content %}

<div class="wb u-pull-left">
  &lt;webpage&gt;
</div>

<div class="maintext">
  <h1 class="headings maintext-color">Hey there! I'm a fledgling <span class="maintext-highlight-color">webdev</span>.</h1>
  <div class="btn-bar">
    <a href="https://github.com/nocturnalbeast"><i class="buttons fab fa-github"></i></a>
    <a href="mailto:betrant1996@gmail.com"><i class="buttons fas fa-envelope"></i></a>
  </div>
</div>

<div class="wb end-wb">
  &lt;/webpage&gt;
</div>

{% endblock %}
